:root{
    /* tavolozza colore */
    --primary-color:#A60321;
    --secondary-color:#7ED1F2;
    --accent-color:#F2C777;
    --dark-color:#000;
    --light-color:#fff;
 /* fonts */
    --font-display:"Noto Sans JP", sans-serif;
    --font-text:"Noto Serif JP", serif;
}
/* utility */
html{
    scroll-behavior: smooth;
}
  .res{
        width: 100%;
        max-width: 350px;
    }
 /* tipografia */
body{
    font-family: var(--font-text);
}h1,h2,h3,h4,h5,h6{
    font-family: var(--font-display);
    margin-bottom: 20px;
}
span{
    color: var(--secondary-color);
    font-weight: 700;
}
/* background */
body {
    background-image: url(img/BG.png);
    background-size: cover;       /* adatta l’immagine allo schermo */
    background-repeat: no-repeat; 
    background-position: center;  
    background-attachment: fixed; /* resta fissa mentre scorri (opzionale) */
}
/* reset */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: block;
}
li{
    list-style: none;
    font-family: var(--font-display);
}
/* layout */
/* section{
    padding: 20px 0;
} */
p{
    margin-bottom: 10px;
}
    .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
} 

/* Header */
header.cover{
   
    /* background: var(--secondary-color); */
    padding: 16px;
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
   
    font-family: var(--font-display);
    
}
header.cover .wrapper{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
.cover__logo img{
    width: 150px;
}
.cover__menu a{
    border: 5px solid var(--secondary-color);
    gap: 20px;
    background: var(--secondary-color);
    border-radius: 10px;
    color: #000;
}
.cover__menu a:hover{
    background: var(--accent-color);
    border-color: var(--accent-color);
}
.cover__hb{
    font-size: 2.5em;
    cursor: pointer;
}
.cover__menu{
     visibility: hidden; 
     width: 100%;
     order: 3;
     text-align: right;
}
.cover__menu li{
    width: fit-content;
    text-align: right;
    margin-bottom: 10px;
}
.cover__menu ul.miomenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* allinea i link a destra */
    margin-left: auto;     /* spinge il menu a destra */
}
header.cover.active {
    height: 300px;
}
.cover.active .cover__menu {
    visibility: visible;
    
    gap: 20px;
}

/* Hero e carosello */
.hero {
    position: relative;
    /* width: 100%; */
    padding: 16px;
}

.testo1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenitore slider */
.slider {
     width: 100%; 
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.slider figure {
    display: flex;
    margin: 0;
    padding: 0;
    transition: transform 0.7s ease;
}

/* Ogni div interno dim */
.slider figure div {
    flex: 0 0 100%;
}

/* Immagini */
.slider figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

/* Pulsanti freccia */
.slider button.prev,
.slider button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    font-size: 2.5rem;
    width: 50px;
    height: 70px;
    cursor: pointer;
    z-index: 10;
}

.slider button.prev { left: 0; }
.slider button.next { right: 0; }

.slider button:hover {
    background: rgba(0,0,0,0.7);
}
.general img {
    width: 700px; 
    max-width: 100%; /* evita problemi su mobile */
    display: block;
    margin: 20px auto; /* centra l’immagine */
    border-radius: 10px;
}
.general p {
    font-size: 1.2em;
    line-height: 1.6;
    font-weight: 600;
    display: block;
}

/* main */
main section img {
    width: 100%;
    max-width: 1100px;
    height: 800px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
main section h1 {
    font-size: 3rem;       
    text-align: center;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

main section p {
    font-size: 1.2rem;
    line-height: 1.7;
    /* text-align: justify;  */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}
.contacts a i {
    font-size: 3rem;      /* dimensione icone */
    color: var(--dark-color);
    margin-right: 20px;
}

/* .contacts a {
    display: inline-block;
} */
.contacts p i {
    font-size: 2.5rem;
    margin-right: 10px;
}
.contacts .wrapper:last-of-type {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.contacts a {
    margin-bottom: 15px;
    display: inline-block;
}

.contacts p {
    margin-top: 10px;
}
.contacts p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.5rem;
}
.contacts a:hover i, 
.contacts a:hover {
    color: var(--accent-color);
}


/* footer */
.site-footer {
    background: rgba(0, 0, 0, 0.7);
    color: var(--light-color);
    padding: 40px 0;
    margin-top: 40px;
    text-align: center;
}

.footer-copy {
    font-size: 1rem;
    margin-bottom: 25px;
}

/* Contenitore colonne */
.footer-columns {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
    align-items: center;
}

/* Titoli sezioni */
.footer-social p,
.footer-links p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Liste */
.footer-social ul,
.footer-links ul {
    padding: 0;
}

.footer-social ul li,
.footer-links ul li {
    margin-bottom: 8px;
    list-style: none;
    font-weight: 800;
    gap: 30px;
}

/* Icone Social */
.footer-social a i {
    font-size: 2rem;
    color: var(--light-color);
    transition: 0.3s;
    gap: 10px;
}

.footer-social a i:hover {
    color: var(--accent-color);
}

.footer-links a {
    color: var(--light-color);
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--accent-color);
}
h1 a {
  color: inherit;
  text-decoration: none;
}
h1:hover{
    color:var(--primary-color);
}
/* passaggio da mobile a desktop */
@media (min-width: 768px) {

    .cover__menu ul {
        display: flex;
        gap: 20px;
        }
    
    .cover__hb {
        display: none;
    }
   .slider {
        width: 95%;               /* larghezza del riquadro */
        max-width: 1100px;        /* larghezza massima */
        height: 800px;            /* altezza fissa */
        margin: 0 auto;           /* centra lo slider */
        overflow: hidden;
        position: relative;
        border-radius: 20px;
    }
    .slider figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;      /* mostra l’immagine per intero */
        display: block;
    }
    .cover__menu{
        visibility: visible;
        font-size: 1.5em;
        font-weight: 700;
        margin-left: auto;
        width: auto;
        text-align: right;
        display: flex;
        align-items: center;
    }
    .cover__menu ul.miomenu {
        flex-direction: row;   /* torna in linea */
        align-items: center;
        gap: 20px;
        margin-left: 0;
    }

    li{
    list-style: none;
    }
     .general {  /*immagine mappa e piccolo testo generale */
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        max-width: 1100px;
        margin: 0 auto;
    }

    .general img {
       width: 100%;
       max-width: 700px;  /* limite massimo desiderato */
       height: auto;      /* mantiene le proporzioni */
       display: block;
    }

    .general p {
        width: 50%;
        margin: 0;
        text-align: left;
        margin-top: 20px;
    }
    
    .footer-columns {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        align-items: flex-start;
    }
}
    